@import "tailwindcss";

@layer base {
  body {
    background-color: #f9fafb;
    /* gray-50 */
    color: #111827;
    /* gray-900 */
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}